<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="oAuthConsumerKey" value="XOcQ4ntiawqJbI4EfAV2pFiA1" />
    <add key="oAuthConsumerSecret" value="ceiH0O7K3ZV90dExIaI1Y1zNvTkVQffmP710OGVNFsBk4qlbem" />
    <add key="oAuthUrl" value="https://api.twitter.com/oauth2/token" />
    <add key="timelineFormat" value="https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name={0}&amp;include_rts={1}&amp;exclude_replies={2}&amp;count={3}" />
    <add key="screenname" value="screenname" />
    <add key="include_rts" value="1" />
    <add key="exclude_replies" value="0" />
    <add key="count" value="90" />
    <add key="searchFormat" value="https://api.twitter.com/1.1/search/tweets.json?q={0}&amp;count=100" />
    <add key="searchQuery" value="%23Demonitization" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>